:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}

body {
  font-family: "Cairo", sans-serif;
}

h1{
  font-size: 50px;
}

.navbar {
  background-color: var(--dark-color);
}

.navbar .navbar-nav .nav-link {
  color: white;
}

.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--green-color);
}

.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--green-color);
  color: white;
}

/* End Navbar */

/* start prosecution */

.prosecution {
  min-height: calc(30vh - 72px);
}

ol {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* todo: add translate x animation */ 
ol li {
  cursor: pointer;
  background-color: #19283f;
  color: #fff;
  text-align: center;
  font-weight: 100;
  margin-top: 5px;
  padding: 15px 3px;
  width: 600px;
  max-width: 100%;
  font-size: 22px;
  border-radius: 5px;
}



.prosecution .prosecution-text {
  color: #333;
  border-radius: 8px;
}

/* end prosecution */

.motion-graphic {
  background-color: var(--dark-color);
}

video {
  cursor: pointer;
}
